
<div ng-controller="DashboardCtrl as vm">
  <h4>Mes</h4>
      <div class="row">
        <div class="col-md-6">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions"  show-button-bar="false" ng-readonly="true" style="color: #666666;" ng-change="vm.monthChange(); vm.contentSearchStatistics()"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12"
               ba-panel
               ba-panel-title="Entradas"
               ba-panel-class="with-scroll">
           <div id="entriesChart" class="admin-chart"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12" >
            <div ba-panel ba-panel-title="Contenido buscado" ba-panel-class="with-scroll">
                <div id="contentSearchChart" class="admin-chart"></div>
            </div>
        </div>
      </div>

</div>



