<div class="container" ng-controller="AreasController as vm">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
       <form  name="myForm">
       	 <div class="form-group">
       	 <label for="file">Cargar archivo excel</label>
		  <!-- <input type="file" ngf-select ng-model="file" name="file"    
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  required
             ngf-model-invalid="errorFile">
          </div> -->
		  <div ngf-drop ngf-select class="upload-drop-zone"  ng-model="vm.file" 
	        ngf-drag-over-class="'dragover'"  ngf-allow-dir="true"
	        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
	        >Arrastra archivo Excel</div>
	      <div class="alert bg-success" ng-show="vm.file">
          <strong>Archivo:</strong> {{ vm.file.name }}
        </div>
          <button class="btn btn-primary" type="button" ng-disabled="!myForm.$valid" 
              ng-click="vm.uploadFile(vm.file)">Cargar</button>
		</form>

		<br>
		<br>
		<div cg-busy="vm.filePromise"></div>
		<div cg-busy="vm.careerPromise"></div>
		<h1>Carreras</h1>
		<!-- <table class="table" st-table="displayedCollection" st-safe-src="vm.books">
			<thead>
			  <tr class="sortable">
				  <th></th>
			      <th st-sort="TITULO">Título</th>
			      <th st-sort="NOMBRE_MATERIA">Materia</th>
			      <th st-sort="NOMBRE_CARRERA">Carrera</th>
			    </tr>
			  <tr>
		      <th></th>
		      <th><input st-search="TITULO" placeholder="Buscar título" class="input-sm form-control search-input"
		                 type="search"/></th>
		      <th><input st-search="NOMBRE_MATERIA" placeholder="Buscar materia" class="input-sm form-control search-input"
		                 type="search"/></th>
		      <th><input st-search="NOMBRE_CARRERA" placeholder="Buscar carrera" class="input-sm form-control search-input"
		                 type="search"/></th>
		    </tr>
		   </thead>
		    <tbody>
			  <tr ng-repeat="book in displayedCollection" class="editable-row">
			    <td class="table-id">
			        {{$index}}
			    </td>
			    <td>
			          {{ book.TITULO}}
			    </td>
			    <td>
			          {{ book.NOMBRE_MATERIA }}
			    </td>
			    <td>
			          {{ book.NOMBRE_CARRERA}}
			    </td>
			  </tr>
			  </tbody>
			  <tfoot>
			    <tr>
			      <td colspan="6" class="text-center">
			        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
			      </td>
			    </tr>
		    </tfoot>
		</table> -->
		<table class="table" st-table="displayedCollection" st-safe-src="vm.careers">
				<thead>
				  <tr class="sortable">
					  <th></th>
				      <th st-sort="career">Carrera</th>
				    </tr>
				  <tr>
			      <th></th>
			      <th><input st-search="career" placeholder="Buscar carrera" class="input-sm form-control search-input"
			                 type="search"/></th>
			    </tr>
			   </thead>
			    <tbody>
				  <tr ng-repeat="item in displayedCollection" class="editable-row">
				    <td class="table-id">
				        {{$index + 1}}
				    </td>
				    <td>
				          {{ item.career }}
				    </td>
				  </tr>
				  </tbody>
				  <tfoot>
				    <tr>
				      <td colspan="6" class="text-center">
				        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
				      </td>
				    </tr>
			    </tfoot>
			</table>
      </div>
    </div>
  </div>
</div>