<div cg-busy="{ promise:vm.promise, message:'Buscando Información',backdrop:true, minDuration:3000 }">
  <div class="row">
    <div class="col-xs-6">
      <div ba-panel ba-panel-title="Libros" ba-panel-class=" light-text">
          <div class="form-group" >
          <input type="text" ng-model="vm.books.selectedOption" 
                placeholder="Busca un Artículo" 
                uib-typeahead="option as ( option.name | cut:true:35:'...' ) for option in vm.ajaxSearchBook($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" typeahead-on-select="vm.updateChartsBook()"
                typeahead-append-to-body="true" select-on-click>
              <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i>Sin resultados</div>
          </div>
      </div>  
    </div>
     <div class="col-xs-6">
      <div ba-panel ba-panel-title="Revistas" ba-panel-class=" light-text">
          <div class="form-group" >
            <input type="text" ng-model="vm.journals.selectedOption" 
              placeholder="Busca un Artículo" uib-typeahead="option as ( option.name | cut:true:35:'...' ) for option in vm.ajaxSearchJournal($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" typeahead-on-select="vm.updateChartsJournal()" typeahead-append-to-body="true" select-on-click>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i>Sin resultados</div>
          </div>
      </div>  
    </div>
  </div>
</div>
<div class="row">

<div class="col-xs-6">
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Datos Generales</div>
    <div class="panel-body">
      <ul class="blur">
        <li> <b>Nombre:</b> {{vm.books.selectedOption.name | null}} </li>
        <li> <b>Editorial:</b> {{vm.books.selectedOption.publisher | null}}</li>
        <li> <b>Plataforma:</b> {{vm.books.selectedOption.platform | null}} </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Busquedas por Mes</div>
    <div class="panel-body">
      <div id="requestsPerMonthChartBook" class="admin-chart"></div>
    </div>
  </div>
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Tipos de Busqueda</div>
    <div class="panel-body">
      <div id="typeOfSearchesChartBook" class="admin-chart"></div>
    </div>
  </div>
</div>

  <div class="col-xs-6">
    <div class="panel panel-default bootstrap-panel">
      <div class="panel-heading">Datos Generales</div>
      <div class="panel-body">
        <ul class="blur">
          <li> <b>Nombre:</b> {{vm.journals.selectedOption.name | null}} </li>
          <li> <b>Editorial:</b> {{vm.journals.selectedOption.publisher | null}}</li>
          <li> <b>Plataforma:</b> {{vm.journals.selectedOption.platform | null}} </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Busquedas por Mes</div>
    <div class="panel-body">
      <div id="requestsPerMonthChartJournal" class="admin-chart"></div>
    </div>
  </div>
  <div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Tipos de Busqueda</div>
    <div class="panel-body">
      <div id="typeOfSearchesChartJournal" class="admin-chart"></div>
    </div>
  </div>
  </div>
  
</div>
