<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel"> {{ dateTitle | date: 'fullDate' : 'UTC' }} </h4>
  </div>
  <div class="modal-body">
        <div class="form-group">
          <label for="entriesInput">Número de entradas</label>
          <input type="number" class="form-control" ng-model="entriesObject.title">
        </div>
  </div>
  <div class="modal-footer">
    <button ng-click="saveEntries()" class="btn btn-danger">Guardar</button>
  </div>
</div>